:root {
        --bg-color: #e8f6f9;
        --color-nav: #f9f9f9;
        --color-morado: rgb(73, 23, 110);
        --color-moradobajo: rgb(156, 142, 194);
        --bg-morado:#532f91;
        --titulo1: #002d56;
        --font-titles: 'Lora', serif;
        --font-body: 'Poppins', sans-serif;
      }
    
    body {
        margin: 0;
        font-family: var(--font-body);
        box-sizing: border-box;
        background-color:var(--bg-color);
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-titles);
    }
    
    a,p{
        font-family: var(--font-body);
    }
    
    .top-header {
        background: #fff;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    
    .info-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--color-nav);
        font-size: 14px;
        color: #666;
    }
    
    .info-bar span {
        margin-right: 10px;
    }
    
    .info-bar .social-icons i {
        margin-left: 10px;
        color: #666;
        cursor: pointer;
    }
    
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .logo img {
        height: 60px;
    }
    
    .logo span {
        font-size: 18px;
        font-weight: bold;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
        
    }
    
    .nav-links li {
        display: inline-block;
    }
    
    .nav-links a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        transition: color 0.3s;
        font-weight: bold;
        transition: transform 0.3s ease;
    }
    
    .nav-links a:hover {
        color: var(--bg-morado);
        transform: scale(1.05);
    }
    
    #icon-menu {
        display: none; 
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .hamburger {
        display: none;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin-left: 300px;
        margin-top: 10px;
        position: absolute;
    }
    
    
    
    .appointment-btn {
        padding: 10px 20px;
        background-color: var(--color-moradobajo);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .appointment-btn:hover {
        background-color: var(--color-morado);
    }
    
    
    /* SLIDE */
    
    .slider {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .rslides img {
        width: 100%;
        height: auto;
    }
    
    .slide-text {
        position: absolute;
        bottom: 20%;
        left: 10%;
        color: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
    }
    
    .slide-text h1 {
        font-size: 2.5rem;
        margin: 0 0 10px;
    }
    
    .slide-text p {
        font-size: 1.2rem;
        margin: 0 0 20px;
    }
    
    
    
    /* Flechas de navegaci贸n */
    .rslides_nav.prev, .rslides_nav.next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 50%;
        z-index: 10;
        text-align: center;
        text-decoration: none;
    }
    
    .rslides_nav.prev {
        left: 60px;
    }
    
    .rslides_nav.next {
        right: 30px;
    }
    
    .rslides_nav.prev:hover, .rslides_nav.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .therapies {
        padding: 50px 20px;
        background: var(--color-nav);
        text-align: center;
    }
    
    
    .therapies h2 {
        font-size: 2.5rem;
        color: var(--titulo1);
        margin-bottom: 10px;
    }
    
    .therapies p {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 40px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
        gap: 20px; 
        margin: 0 auto;
        max-width: 1200px; 
    }
    
    .card {
        background: var(--bg-color);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
    
    
    .card h3 {
        font-size: 1.5rem;
        color: var(--titulo1);
        margin-bottom: 10px;
    }
    
    .card p {
        font-size: 1rem;
        color: black;
    }
    
    .card img {
        width: 80px; 
        height: auto;
        margin-bottom: 15px; 
        object-fit: cover; 
    }
    
    
    .scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--bg-morado);
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: none;
        z-index: 1000;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .scroll-to-top:hover {
        background-color: #d674f4;
        transform: scale(1.1);
    }
    
    
    /* Parallax Section */
    .parallax-form {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        height: 50vh;
        background-color: var(--color-nav);
        margin-bottom: 50px;
        z-index: 10;
    }
    
    .parallax-image {
        background-image: url("../img/terapia.jpg"); 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-morado);
        color: white;
        padding: 40px;
    }
    
    .form-container h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 400px;
    }
    
    form label {
        text-align: left;
        font-size: 1rem;
    }
    
    form input,
    form textarea {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }
    
    form button {
        padding: 10px;
        border: none;
        background-color:var(--color-moradobajo);
        color: var(--color-morado);
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    form button:hover {
        background-color: var(--bg-morado);
    }
    
    
    .carousel-slides {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
      }
      
      .slide {
        flex: 0 0 33.33%; /* Cada slide ocupa 1/3 del contenedor */
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
      }
      
      .slide img {
        width: 100%;
        border-radius: 10px;
      }
      
      .carousel {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        margin-top: 50px;
        z-index: 1;
      }
      
      .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(156, 142, 194);
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        z-index: 10;
      }
      
      #back-button {
        left: -10px;
      }
      
      #forward-button {
        right: -10px;
      }
      
    
      .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f4f4f4;
      }
      
      .computer-image {
        position: relative;
        width: 100%;
        max-width: 480px; 
      }
      
      .computer-image img {
        width: 100%; 
        display: block;
      }
      
      .video-frame {
        position: absolute;
        top: 14%; 
        left: 5%; 
        width: 90%;
        height: 50%; 
        overflow: hidden;
      }
      
      .video-frame video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
      }
      
      .video-article-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 20px; 
        padding: 20px;
        background-color: #c8cde9;
      }
      
      .video-section {
        flex: 1; 
        max-width: 500px; 
      }
      
      .article-section {
        flex: 1; 
        max-width: 500px; 
      }
      
      .article-section article {
        background-color: #e8f6f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .article-section h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #333;
      }
      
      .article-section p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 10px;
        line-height: 1.6;
      }
      
      .article-section .read-more {
        font-size: 1rem;
        color: #532f91;
        text-decoration: none;
        font-weight: bold;
      }
      
      .article-section .read-more:hover {
        text-decoration: underline;
      }
    
      
      .psychiatrists-section {
        text-align: center;
        padding: 40px;
        background-color: #f9f9f9;
      }
      
      .psychiatrists-section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #333;
      }
      
      .doctor-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
      }
      
      .doctor-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
      }
      
      .doctor-card:hover {
        transform: translateY(-10px);
      }
      
      .image-container {
        position: relative;
        overflow: hidden;
        border-radius: 8px; 
      }
      
      .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
      }
      
      .image-container:hover img {
        transform: scale(1.1); 
        filter: grayscale(100%); 
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      .image-container:hover .overlay {
        opacity: 1; 
      }
      
      .overlay a {
        color: #fff;
        margin: 0 10px;
        font-size: 1.5rem;
        transition: transform 0.3s ease-in-out;
      }
      
      .overlay a:hover {
        transform: scale(1.2); /
      }
      
      .doctor-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
      }
      
      .doctor-card:hover {
        transform: translateY(-10px);
      }
      
      .doctor-card h3 {
        margin-top: 10px;
        font-size: 1.5rem;
        color: #333;
      }
      
      .doctor-card p {
        font-size: 0.9rem;
        color: #555;
        margin: 5px 0;
      }
      
      .doctor-card p i {
        margin-right: 5px;
        color: #532f91;
      }
    
    .accordion-section {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .accordion-section h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        color: #333;
    }
    
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .accordion-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .accordion-header {
        width: 100%;
        background-color: var(--color-moradobajo);
        color: #fff;
        padding: 15px;
        text-align: left;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .accordion-header:hover {
        background-color: var(--color-morado);
    }
    
    .accordion-content {
        display: none;
        padding: 15px;
        background-color: #f1f1f1;
        color: #333;
        font-size: 1rem;
    }
    
    .accordion-content i{
        font-size: 2rem; 
        color: var(--color-moradobajo);
        margin-right: 10px;
    }
    
    .accordion-header i {
        margin-left: 10px;
    }
    
    .gallery-section {
        text-align: center;
        padding: 40px 20px;
        background-color: var(--color-nav);
    }
    
    .gallery-section h2 {
        font-size: 2.5rem;
        color: var(--titulo1);
        margin-bottom: 20px;
    }
    
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .gallery-container a img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    
    .gallery-container a img:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    
  
    /* Modal */
    #modal {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    
    /* Contenido del Modal */
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 70%;
        max-width: 500px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.3s ease-in-out;
        justify-content: center;
        margin-left: 29%;
        margin-top: 3%;
        position: relative;
    }
    
    .modal-content img{
        width: 60%;
    }
    
    /* Bot贸n de Cerrar */
    .close {
        position: absolute;
        top: 5px;
        left: 460px;
        font-size: 2rem;
        font-weight: bold;
        color: #b01212;
        cursor: pointer;
    }
    
    /* Animaci贸n de Aparici贸n */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    
   

    .features-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
        gap: 20px; 
        padding: 20px;
        background-color: #e0f7fa; 
    }
    
    .feature {
        text-align: center;
        background-color: #0097a7; 
        padding: 20px;
        border-radius: 10px; 
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease-in-out;
    }
    
    .feature img {
        width: 100%; 
        height: auto;
        margin-bottom: 15px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        transition: clip-path 0.5s ease-in-out; 
    }
    
    .feature img:hover {
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 51%, 0% 0%);
        transform: scale(1.05); 
    }
    
    
    .feature h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #ffffff; 
    }
    
    .feature p {
        font-size: 1rem;
        color: #ffffff; 
        line-height: 1.6; 
    }
    
    .site-footer {
        background-color: var(--color-morado); 
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 0.9rem; 
        line-height: 1.5; 
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    .site-footer p {
        margin: 5px 0; 
    }
    
    .site-footer a {
        color: var(--color-moradobajo); 
        text-decoration: none;
    }
    
    .site-footer a:hover {
        color: var(--bg-morado);
        text-decoration: underline; 
    }
    
    
      
      
