@media (max-width: 440px) {

    
    :root {
        --bg-color: #e8f6f9;
        --color-nav: #f9f9f9;
        --color-morado: rgb(73, 23, 110);
        --color-moradobajo: rgb(156, 142, 194);
        --bg-morado:#532f91;
        --titulo1: #002d56;
        --font-titles: 'Lora', serif;
        --font-body: 'Poppins', sans-serif;
      }

    .info-bar {
        flex-direction: column; 
        text-align: center;
        padding: 10px;
    }

    .info-bar span {
        margin-right: 0; 
        margin-bottom: 5px; 
    }

    .info-bar .social-icons {
        margin-top: 10px;
    }

    .main-nav {
        flex-direction: column; 
        gap: 10px; 
        justify-content: center;
    }

    .logo img {
        height: 50px; 
    }

    .logo span {
        font-size: 14px; 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100px;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger i{
        left: 275px;
        position: absolute;
    }

    .nav-links.active {
        display: flex; /* Mostrar el menú cuando esté activo */
        top: 100px;
        position: absolute;
        z-index: 10;
        width: 70%;
       margin-left: 40px;
     }

    .nav-links a {
        font-size: 14px; 
        margin: auto;
    }

    .nav-links li {
        margin: 10px 0;
        margin: auto;
        top: 50px;
    }

    .nav-links li a:hover{
        background-color: var(--color-moradobajo);
    }

    #icon-menu {
        display: block; /* Mostrar el ícono de menú en móvil */
        z-index: 20;
       
    }

     #ul-menu {
        display: none; 
        list-style: none;
        background-color: #333947;
        padding: 1rem;
        position: absolute;
        top: 100px;
        left: 0;
        border-radius: 5px;
        width: 80%;
        z-index: 10;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    #ul-menu li {
        margin: 0.5rem 0;
    }
    
    #ul-menu li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        display: block;
        padding: 0.5rem;
        border-radius: 5px;
    }
    
    #ul-menu li a:hover {
        background-color: #ffffff;
        color: rgb(70, 202, 220);
    }
    
    #ul-menu.active {
        display: block;
    }

    .appointment-btn {
        width: 90%; 
        padding: 10px;
        font-size: 14px; 
    }

    .slider {
        max-width: 100%; 
        margin: 0 auto;
        margin-right: 30px;
    }

    .rslides {
        list-style: none;
        position: relative;
    }

    .rslides img {
        width: 100%; 
        height: 100%; 
        display: block;
    }

    .slide-text {
        position: absolute;
        bottom: 10%; 
        left: 5%; 
        padding: 10px 15px; 
        max-width: 80%; 
        border-radius: 5px; 
        text-align: center; 
        color: var(--titulo1);
        text-shadow: 4cap;
        top: 0px;
    }

    .slide-text h1 {
        font-size: 1.8rem; 
        margin: 0 0 5px;
    }

    .slide-text p {
        font-size: 1rem; 
        margin: 0;
    }

    .rslides_nav.prev, .rslides_nav.next {
        font-size: 1.5rem; 
        padding: 5px 10px; 
    }

    .rslides_nav.prev {
        left: 10px; 
    }

    .rslides_nav.next {
        right: 10px; 
    }

    .therapies {
        padding: 30px 10px; 
    }

    .therapies h2 {
        font-size: 1.8rem; 
        margin-bottom: 10px;
    }

    .therapies p {
        font-size: 1rem; 
        margin-bottom: 20px;
    }

    .grid {
        grid-template-columns: 1fr; 
        gap: 15px; 
    }

    .card {
        padding: 15px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

    .card h3 {
        font-size: 1.2rem; 
        margin-bottom: 8px;
    }

    .card p {
        font-size: 0.9rem; 
    }

    .card img {
        width: 60px; 
        margin-bottom: 10px; 
    }

   
    .scroll-to-top {
        bottom: 20px; 
        left: 10px; 
        font-size: 1rem; 
        width: 40px; 
        height: 40px;
        z-index: 100;
        }
    
    .scroll-to-top:hover {
            transform: scale(1.05); 
            margin-bottom: 30px;
        }
    
        .parallax-form {
            grid-template-columns: 1fr; 
        }
    
        .parallax-image {
            height: 30vh; 
        }
        
    
        .carousel-slides {
            overflow: scroll; 
            scroll-snap-type: x mandatory; 
            display: flex;
            gap: 10px; 
            margin-top: 100px;
        }
    
        .slide {
            flex: 0 0 80%; 
            box-sizing: border-box;
        }
    
        .carousel {
            max-width: 100%; 
            margin: 20px auto;
        }
    
        .carousel-btn {
            display: none; 
        }
    
        .slide img {
            border-radius: 8px;
        }
    
        .video-article-container {
            flex-direction: column; 
            gap: 20px;
            padding: 15px;
          }
        
          .video-section, .article-section {
            max-width: 100%; 
            flex: none; 
          }
        
          .article-section article {
            padding: 15px; 
            font-size: 0.9rem; 
          }
        
          .article-section h2 {
            font-size: 1.3rem; 
            margin-bottom: 8px;
          }
        
          .article-section p {
            font-size: 0.9rem; 
            line-height: 1.4; 
          }
        
          .computer-image {
            max-width: 100%; 
            margin: 0 auto; 
          }
        
          .video-frame {
            left: 0;
            width: 90%; 
            height: auto; 
            margin-top: 2px;
            margin-left: 2px;
          }
        
          .video-frame video {
            object-fit: contain; 
          }

          .psychiatrists-section {
            padding: 20px; 
          }
        
          .psychiatrists-section h2 {
            font-size: 1.5rem; 
            margin-bottom: 15px;
          }
        
          .doctor-grid {
            grid-template-columns: 1fr; 
            gap: 15px; 
          }
        
          .doctor-card {
            padding: 15px; 
            font-size: 0.9rem; 
          }
        
          .image-container img {
            height: auto; 
          }
        
          .overlay a {
            font-size: 1.2rem; 
            margin: 0 5px; 
          }
        
          .doctor-card h3 {
            font-size: 1.2rem; 
          }
        
          .doctor-card p {
            font-size: 0.8rem; 
          }

          .accordion-section {
            max-width: 100%; 
            margin: 20px auto; 
            padding: 15px; 
          }
        
          .accordion-section h2 {
            font-size: 1.5rem; 
            margin-bottom: 15px;
          }
        
          .accordion {
            gap: 8px; 
          }
        
          .accordion-header {
            font-size: 1.2rem;
            padding: 10px; 
          }
        
          .accordion-content {
            font-size: 0.9rem; 
            padding: 10px; 
          }
        
          .accordion-content i {
            font-size: 1.5rem; 
            margin-right: 8px; 
          }
        
          .accordion-header i {
            font-size: 1.2rem; 
            margin-left: 8px; 
          }

          .gallery-container {
            grid-template-columns: 1fr; 
            gap: 10px; 
          }
        
          .gallery-container a img {
            width: 100%; 
            height: auto; 
            border-radius: 8px; 
          }
        
          .gallery-section h2 {
            font-size: 1.5rem; 
            margin-bottom: 10px;
          }
        
          .gallery-section {
            padding: 20px 10px; 
          }
        
          #modal {
            align-items: flex-start; 
            padding: 10px;
        }
    
        .modal-content {
            width: 40%; 
            max-width: none; 
            margin-left: 75px;
            margin-top: auto; 
            border-radius: 5px;
            padding: 15px; 
            position: relative;
        }
    
        .modal-content img {
            width: 60%; 
            height: auto;
        }
    
        .close {
            top: 10;
            left: 20px; 
            font-size: 1.8rem; 
            position: absolute;
        }

        .features-section {
            grid-template-columns: 1fr; 
            gap: 10px; 
            padding: 10px; 
        }
    
        .feature {
            padding: 15px;
            font-size: 0.9rem; 
        }
    
        .feature img {
            width: 80%; 
            margin: 0 auto 10px auto; 
        }
    
        .feature h3 {
            font-size: 1.2rem; 
        }
    
        .feature p {
            font-size: 0.9rem; 
            line-height: 1.4; 
        }
    
        .site-footer {
            padding: 15px; 
            font-size: 0.8rem; 
            line-height: 1.4; 
        }
    
        .site-footer p {
            margin: 3px 0; 
        }
    
        .site-footer a {
            font-size: 0.8rem; 
        }
    
    

        
}